@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');

body {
    background-color: rgb(19, 18, 18);
    color: rgb(10, 10, 10);
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 30px;

}
a { 
    color: rgb(253, 252, 252);
}
a:hover {
    color: blueviolet;
    transition: 0.3s all;

}
h1 {
    color: white;
    font-weight: 200;

}
main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2 {
    text-align: center;
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}
span {
    color: blueviolet;
}
p {
    margin: 0%;
    padding: 10px;
    text-align: justify;
    line-height: 24px;
    max-width: 500px;
    font-family: poppinslight;
}
img { 
    width: 620px;
}
#inscreva-se-btn {
    border: 2px solid purple;
    padding: 10px;
    border-radius: 20px;

}
#inscreva-se-btn:hover {
    background-color: purple;
    color: aliceblue;

}
form {
    display: flex;
    flex-direction: column;
    width: 98%;

}
input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    
}
form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: purple;
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}
#banana{
    align-self: center;
}

#bananaa {
    border: 2px solid rgb(14, 13, 13);
}

aside {
    background-color: white;
    padding: 2%;
    border-radius: 50px;
}

